* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: .7rem;
    font-family: sans-serif;
    z-index: 100;
}

.hamburger {
    display: none;
}

nav ul {
    display: flex;
    padding: .6rem;
    list-style: none;
}

nav li a {
    color: black;
    text-decoration: none;
    padding: .5rem;
    font-size: larger;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

nav a:hover {
    border-radius: 5px;
    background-color: rgb(121, 186, 212);

}

.navigation.open {
    display: block;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border-radius: 50%;
}

.logo h1 {
    font-family: "Caacupe One", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: black;

}

main {
    padding: 1rem .7rem;
    background-color: rgb(241, 240, 240);
}

.view {
    display: flex;
    justify-content: center;
}

.view button {
    margin-left: 1rem;
    padding: .7rem 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.members {
    margin: 1rem 0;

}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.members .card {
    background-color: #bababa5b;
    padding: .7rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.grid .card h2 {
    text-align: center;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.grid .tagline {
    margin: .4rem 0;
    text-align: center;
}

.contact p {
    padding: .5rem 0;
}

.list {
    display: grid;
    align-items: center;
}

.list img {
    display: none;
}

.list .tagline {
    display: none;
}

.list .card {
    display: grid;
}

.list .contact{
    display: flex;
    justify-content: space-around;
}

footer {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem .3rem;
    background-color: #ffffff;

}

.center-footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 40%;
}

footer span {
    display: flex;
    flex-direction: column;
}

/* /////////////////////index.html////////////////////////////// */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    border-radius: 0 0 7px 7px;
}

/* .cta {
    bottom: 5px;
    padding: .3rem;
    } */

.cta-statement,
.cta-btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: whitesmoke;
}

.cta-statement {
    position: absolute;
    top: 20%;
    font-size: 4.3vw;
    text-align: center;
    width: 100%;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8),
        0 0 10px rgba(0, 0, 0, 0.5);

}

.cta-btn {
    position: absolute;
    border: 3px solid rgb(121, 186, 212);
    padding: .3rem;
    border-radius: 5px;
    cursor: pointer;
    width: 6rem;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(19px);
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}

.cta-btn:hover {
    background-color: rgb(117, 138, 146);
}

.events h2 {
    margin: 1rem;
}

.event {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    justify-content: space-between;
    background-color: #bababa5b;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    gap: 3rem;
    box-shadow: 0 11px 12px rgb(160, 162, 170);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem .3rem;
}

.event:hover {
    transform: translateY(-2px);
}

.name {
    text-align: center;
}

.date-time {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.location {
    display: flex;
    align-items: baseline;

}

#weather {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.weather-card,
.forecast-weather-card {
    margin: 1rem;
    background-color: rgb(191, 191, 191);
    border-radius: 5px;
    color: black;
    box-shadow: 0 11px 12px #bababa5b;

}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    height: 18rem;
    padding: 1rem;

}

.forecast-weather-card {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: .5rem;
    height: 7rem;
    align-items: center;
    padding: 1rem;

    .date {
        grid-column: 1/3;
        align-items: center;
    }

    .forecast-description {
        display: grid;
        border-right: 3px solid grey;
        padding-bottom: .3rem;
        padding-right: .5rem;

        .temp {
            font-size: 2rem;
        }
    }
}

.forecast-weather-card:hover {
    transform: scale(1.06);
}

.date {
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.icon {
    display: flex;
    align-self: center;
    margin: 0;
}

.current-description {
    text-align: center;
    padding-bottom: .5rem;
    font-size: large;
}

.high-low {
    display: flex;
    justify-content: space-between;
}