:root{
    --c2:black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: .7rem;
    font-family: sans-serif;
    z-index: 100;
}

.hamburger {
    display: none;
}

nav ul {
    display: flex;
    padding: .6rem;
    list-style: none;
}

nav li a {
    color: black;
    text-decoration: none;
    padding: .5rem;
    font-size: larger;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

nav a:hover {
    border-radius: 5px;
    background-color: rgb(121, 186, 212);

}

.navigation.open {
    display: block;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border-radius: 50%;
}

.logo .heading {
    font-family: "Caacupe One", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: black;
}

main {
    padding: 1rem .7rem;
    background-color: rgb(241, 240, 240);
}

.view {
    display: flex;
    justify-content: center;
}

.view button {
    margin-left: 1rem;
    padding: .7rem 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.members {
    margin: 1rem 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}

.members .card {
    background-color: #bababa5b;
    padding: .7rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 11px 12px rgb(215, 216, 217);
    position: relative;
}

.level {
    position: absolute;
    bottom: 3px;
    right: 9px;
    border-radius: 5px;
    padding: .4rem;
    font-weight: bold;
}

.silver {
    background-color: #bababa;
    border: 2px solid silver;
}

.gold {
    background-color: #f5b639;
    border: 2px solid gold;
    color: white;
}

.member {
    background-color: #52ff52;
    border: 2px solid #104110;
    color: black;
}

.grid .card h2 {
    text-align: center;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.grid .tagline {
    margin: .4rem 0;
    text-align: center;
}

.contact p {
    padding: .5rem 0;
}

.list {
    display: grid;
    align-items: center;
    justify-content: center;
}

.list img {
    display: none;
}

.list .tagline {
    display: none;
}

.list .card {
    display: flex;
    max-width: 700px;
}

.list .contact {
    display: flex;
    justify-content: space-around;
}

footer {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem .3rem;
    background-color: #ffffff;

}

.center-footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 40%;
}

footer span {
    display: flex;
    flex-direction: column;
}

/* /////////////////////index.html////////////////////////////// */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    border-radius: 0 0 7px 7px;
}

.cta-statement,
.cta-btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: white;
}

.cta-statement {
    position: absolute;
    top: 20%;
    font-size: 4.3vw;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    padding: .5rem 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8),
        0 0 10px rgba(0, 0, 0, 0.5);

}

.cta-btn {
    position: absolute;
    border: 3px solid rgb(121, 186, 212);
    padding: .3rem;
    border-radius: 5px;
    cursor: pointer;
    width: 6rem;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(19px);
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    text-align: center;
}

.cta-btn:active {
    color: white;

}

.cta-btn:hover {
    background-color: rgb(117, 138, 146);
}

h2 {
    margin: 1rem;
    text-align: center;
}

.event {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    justify-content: space-between;
    background-color: #bababa5b;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    gap: 3rem;
    box-shadow: 0 11px 12px rgb(160, 162, 170);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem .3rem;
}

.event:hover {
    transform: translateY(-2px);
}

.name {
    text-align: center;
}

.date-time {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.location {
    display: flex;
    align-items: baseline;

}

#weather {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.weather-card,
.forecast-weather-card {
    margin: 1rem;
    background-color: rgb(191, 191, 191);
    border-radius: 5px;
    color: black;
    box-shadow: 0 11px 12px #bababa5b;

}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    height: 18rem;
    padding: 1rem;

}

.forecast-weather-card {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: .5rem;
    height: 7rem;
    align-items: center;
    padding: 1rem;

}

.forecast-weather-card .date {
    grid-column: 1/3;
}

.forecast-weather-card .forecast-description {
    display: grid;
    border-right: 3px solid grey;
    padding-bottom: .3rem;
    padding-right: .5rem;

}

.forecast-weather-card .temp {
    font-size: 2rem;
}

.forecast-weather-card:hover {
    transform: scale(1.06);
}

.date {
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.icon {
    display: flex;
    align-self: center;
    margin: 0;
}

.current-description {
    text-align: center;
    padding-bottom: .5rem;
    font-size: large;
}

.high-low {
    display: flex;
    justify-content: space-between;
}

/* ///////////////////////////////////////////////////////////////Join */
#join {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

#join h1 {
    grid-column: 1/3;
    text-align: center;
}

.join {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 400px;
    min-width: 30vw;
    background-color: #bababa5b;
    padding: 2rem;
    border-radius: 15px;
    color: black;
}
.form-header{
    font-weight: bold;
    font-size: 1.3rem;
}

.join label,
.join button,
fieldset {
    margin-top: 1.1rem;
    margin-bottom: .3rem;
}

.join input,
.join textarea {
    border: none;
    padding: .5rem;
    border-radius: 5px;
}

.join input[type="radio"] {
    height: 1rem;
    width: 1rem;
}

.join fieldset label {
    display: grid;
    grid-template-columns: 1fr 10fr;
    flex-direction: row;
    align-items: center;
    padding: .3rem 0;
}

.join textarea {
    width: 100%;
    height: 5rem;
}

.join button {
    background-color: #7d7d7efd;
    color: white;
    margin-top: 1.9rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.join button:hover {
    background-color: #bababa;
    color: black;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.membership-card {
    display: grid;
    /* background-color: #bababa5b; */
    padding: .2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 11px 12px rgb(215, 216, 217);
    max-width: 500px;
    justify-self: center;
    width: 17rem;
    background-image: conic-gradient(from var(--gradient-angle),
            var(--c1),
            var(--c2),
            var(--c1),
            var(--c2),
            var(--c1));
    animation: rotate-border 4s linear infinite;
}

.membership-card .card-content {
    background-color: #bababa;
    /* background: #0f172a; */
    color: #ffffff;
    padding: 24px;
    border-radius: 3px;
}
@keyframes rotate-border {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.member-np {
    --c1:#52ff52;
}
.member-bronze {
    --c1:rgb(241, 110, 110);
}
.member-silver {
    --c1:#bababa;
}.member-gold {
    --c1:#f5b639;
}
.membership-card h3 {
    text-align: center;
    color: black;
}

.membership-card button {
    display: flex;
    justify-self: center;
    max-width: 7rem;
    margin-top: .7rem;
    padding: .3rem;
}



dialog[open] {
    display: flex;
}

.modal {
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    padding: .5rem 1rem 1rem 2rem;
    align-self: center;
    justify-self: center;
}

.modal::backdrop {
    background: rgb(0 0 0 / 70%);
}

.close-button {
    position: absolute;
    top: 3px;
    right: 3px;
    border: none;
    background: none;
    cursor: pointer;
}

.modal h4 {
    font-size: 1.3rem;
}

.modal ul {
    margin: .7rem;
}

.modal li {
    list-style: circle;
    margin: .3rem;
}

/* Join */
/* ////////////////thank you/////////////////////////// */
.thankyou{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: #bababa;
    position: relative;
    min-width: 340px;
    padding: 0 0 .7rem 1rem;
    border-radius: 5px;
    box-shadow:  0 0 10px black;
}

.contact-details p{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .6rem;
    padding: .5rem 0;
}
.contact-details p strong{
    display: flex;
    justify-content: flex-end;
}