* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(49, 49, 72);
    padding-bottom: .7rem;
    font-family: sans-serif;
}
.hamburger {
    display: none;
}

nav ul {
    display: flex;
    padding: .6rem;
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: .5rem;
    font-size: larger;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

nav a:hover {
    border-radius: 5px;
    background-color: rgb(105, 105, 154);
    
}

.navigation.open {
    display: block;
}

.logo {
    display: flex;
    align-items: baseline;
}

.logo img {
    border-radius: 50%;
    
}

.logo span{
  font-family: "Caacupe One", sans-serif;
  font-weight: 400;
   font-size: 1.6rem;
   color: white;
}

main {
    padding: 0 .7rem;
    background-color: rgba(49, 49, 72, 0.061);
}

.view {
    display: flex;
    justify-content: center;
}

.view button {
    margin-left: 1rem;
    padding: .7rem 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    padding: .3rem 0;
}
.list{
    display: flex;
    flex-direction: column;
    padding: .3rem 0;
    justify-self: center;
}
.list section{
    display: grid;
    margin: .4rem 0;
    grid-template-columns: 1fr 3fr ;
    justify-content: flex-start;
    align-items: center;
    max-width: 580px;
}

.list section h2{
    text-align: left;
}
.list section .details{
    display: flex;
    justify-content: flex-start;
}
.list section h2{
    display: block;
}
.list section img, .list .tagline{
    display: none;
}


section {
    background-color: #bababa5b;
    padding: .3rem .9rem;
    border-radius: 3px;
}

section h2,
section p {
    text-align: center;
}

.details {
    margin-top: .4rem;
    display: grid;
    grid-template-columns: 2fr 3fr;

}

.details img {
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 4/3;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact p{
    display: flex;
    text-align: left;
    margin-left: .2rem;
    padding-left: .2rem;
    padding-bottom: .4rem;
}

footer {
    background-color: rgb(49, 49, 72);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem .3rem;
}
footer span{
    display: flex;
    flex-direction: column;
}